In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("C:\\Users\\HP\\Desktop\\4.sınıf Güz Dönemi\\Veri Madenciliği\\Veri Madenciliği Proje Ödevi\\DataV1. (1).csv")

In [3]:
dataset

,Astar Materyali,Ayakkabi Tabani,Baglama Sekli,Bilek Stili,Boy / Olcu,Deri Kalitesi,Desen,Dis Materyal,Ek Ozellik,Kalip,...,Taban,Taban Materyali,Taban Tipi,Topuk Tipi,Zemin,Cesit,Civi Tipi,Izolasyon,Ic Taban Materyali,price
0,0,0,2,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,"85,40 TL"
1,1,0,1,1,0,0,0,0,0,0,...,0,3,0,0,1,1,1,0,1,"231,99 TL"
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"429,90 TL"
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"149,99 TL"
4,0,0,0,0,0,0,0,0,0,0,...,2,3,0,0,0,0,0,0,0,"62,56 TL"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1411,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"329,99 TL"
1412,1,0,1,0,0,3,3,2,2,0,...,0,5,2,2,0,0,0,0,1,"399,90 TL"
1413,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,599 TL
1414,0,0,3,0,0,0,0,2,0,1,...,2,0,0,0,0,0,0,0,0,"449,92 TL"
1415,2,0,1,0,0,0,1,0,0,0,...,0,3,0,1,0,0,0,0,2,"339,99 TL"

In [4]:
for i in range(0,100):
    dataset["price"] = dataset.price.str.replace(',{}'.format(i), '')

dataset["price"] = dataset.price.str.replace(',00'.format(i), '')
dataset["price"] = dataset.price.str.replace(',01'.format(i), '')
dataset["price"] = dataset.price.str.replace(',02'.format(i), '')
dataset["price"] = dataset.price.str.replace(',03'.format(i), '')
dataset["price"] = dataset.price.str.replace(',04'.format(i), '')
dataset["price"] = dataset.price.str.replace(',05'.format(i), '')
dataset["price"] = dataset.price.str.replace(',06'.format(i), '')
dataset["price"] = dataset.price.str.replace(',07'.format(i), '')
dataset["price"] = dataset.price.str.replace(',08'.format(i), '')
dataset["price"] = dataset.price.str.replace(',09'.format(i), '')
dataset["price"] = dataset.price.str.replace('.', '')

C:\Users\HP\AppData\Local\Temp\ipykernel_9616\1235996784.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dataset["price"] = dataset.price.str.replace('.', '')

In [5]:
dataset

,Astar Materyali,Ayakkabi Tabani,Baglama Sekli,Bilek Stili,Boy / Olcu,Deri Kalitesi,Desen,Dis Materyal,Ek Ozellik,Kalip,...,Taban,Taban Materyali,Taban Tipi,Topuk Tipi,Zemin,Cesit,Civi Tipi,Izolasyon,Ic Taban Materyali,price
0,0,0,2,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,850 TL
1,1,0,1,1,0,0,0,0,0,0,...,0,3,0,0,1,1,1,0,1,2319 TL
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4290 TL
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1499 TL
4,0,0,0,0,0,0,0,0,0,0,...,2,3,0,0,0,0,0,0,0,626 TL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1411,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3299 TL
1412,1,0,1,0,0,3,3,2,2,0,...,0,5,2,2,0,0,0,0,1,3990 TL
1413,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,599 TL
1414,0,0,3,0,0,0,0,2,0,1,...,2,0,0,0,0,0,0,0,0,4492 TL
1415,2,0,1,0,0,0,1,0,0,0,...,0,3,0,1,0,0,0,0,2,3399 TL

In [6]:
dataset["price"] = dataset.price.str.replace('TL', '')

In [7]:
dataset

,Astar Materyali,Ayakkabi Tabani,Baglama Sekli,Bilek Stili,Boy / Olcu,Deri Kalitesi,Desen,Dis Materyal,Ek Ozellik,Kalip,...,Taban,Taban Materyali,Taban Tipi,Topuk Tipi,Zemin,Cesit,Civi Tipi,Izolasyon,Ic Taban Materyali,price
0,0,0,2,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,850
1,1,0,1,1,0,0,0,0,0,0,...,0,3,0,0,1,1,1,0,1,2319
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4290
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1499
4,0,0,0,0,0,0,0,0,0,0,...,2,3,0,0,0,0,0,0,0,626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1411,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3299
1412,1,0,1,0,0,3,3,2,2,0,...,0,5,2,2,0,0,0,0,1,3990
1413,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,599
1414,0,0,3,0,0,0,0,2,0,1,...,2,0,0,0,0,0,0,0,0,4492
1415,2,0,1,0,0,0,1,0,0,0,...,0,3,0,1,0,0,0,0,2,3399

In [8]:
dataset2 = dataset

In [9]:
dataset2

,Astar Materyali,Ayakkabi Tabani,Baglama Sekli,Bilek Stili,Boy / Olcu,Deri Kalitesi,Desen,Dis Materyal,Ek Ozellik,Kalip,...,Taban,Taban Materyali,Taban Tipi,Topuk Tipi,Zemin,Cesit,Civi Tipi,Izolasyon,Ic Taban Materyali,price
0,0,0,2,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,850
1,1,0,1,1,0,0,0,0,0,0,...,0,3,0,0,1,1,1,0,1,2319
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4290
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1499
4,0,0,0,0,0,0,0,0,0,0,...,2,3,0,0,0,0,0,0,0,626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1411,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3299
1412,1,0,1,0,0,3,3,2,2,0,...,0,5,2,2,0,0,0,0,1,3990
1413,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,599
1414,0,0,3,0,0,0,0,2,0,1,...,2,0,0,0,0,0,0,0,0,4492
1415,2,0,1,0,0,0,1,0,0,0,...,0,3,0,1,0,0,0,0,2,3399

In [10]:
dataset2.to_csv("VeriMadenciliğiVize.csv",index=False)

In [11]:
pd.read_csv("VeriMadenciliğiVize.csv")

,Astar Materyali,Ayakkabi Tabani,Baglama Sekli,Bilek Stili,Boy / Olcu,Deri Kalitesi,Desen,Dis Materyal,Ek Ozellik,Kalip,...,Taban,Taban Materyali,Taban Tipi,Topuk Tipi,Zemin,Cesit,Civi Tipi,Izolasyon,Ic Taban Materyali,price
0,0,0,2,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,850
1,1,0,1,1,0,0,0,0,0,0,...,0,3,0,0,1,1,1,0,1,2319
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4290
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1499
4,0,0,0,0,0,0,0,0,0,0,...,2,3,0,0,0,0,0,0,0,626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1411,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3299
1412,1,0,1,0,0,3,3,2,2,0,...,0,5,2,2,0,0,0,0,1,3990
1413,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,599
1414,0,0,3,0,0,0,0,2,0,1,...,2,0,0,0,0,0,0,0,0,4492
1415,2,0,1,0,0,0,1,0,0,0,...,0,3,0,1,0,0,0,0,2,3399